
*.gz
*.aux
*.toc
*.log
*.lof
*.svg
*.bbl
*.bib.bak
*.pdf
.DS_Store
!2020-fall/problem-sets/*.pdf
!2020-fall/output/*.pdf
!2020-fall/report/*.pdf
!2020-fall/data/*.pdf
/2020-fall/data/raw/hia
/admin
/temp
.Rproj.user
.Rhistory
